:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #222;
}

html {
    min-height: 100vh;
}

a, a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #DDD;
}

body {
    margin: 0;
    padding: 0;
    background-color: #c79110;
    background-image: url("../images/background_trees_green.svg");
    background-size: cover;
    color: #DDDDDD;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 66%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2rem;

    background-color: #5b2c29F2;
}

section {
    width: 100%;
}

header > * {
    margin: 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: coral;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    font-size: 0.7rem;
    color: #321632;
    padding: 0.7rem 0;
}

header {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header img {
    height: 3rem;
}

section * {
    margin: 0.5rem 0;
}

.input-field {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    max-width: 400px;
    margin: 4rem auto;
}

th {
    padding: 1rem 0;
    color: #321632;
    opacity: 1;
}

.heading-row {
    background: linear-gradient(90deg, #d3654c22 0%, #d3654c 10%, #d3654c 90%, #d3654c22 100%) !important;
    opacity: 1;
}

.heading-row:hover {
    transform: none;
}

td {
    text-align: center;
    padding: 0.5rem;
}

tr {
    opacity: 0.8;
    transition: all .25s ease-in-out;
}

tr:nth-child(even) {
    background: linear-gradient(90deg, #d3a6bc11 0%, #d3a6bc88 10%, #d3a6bc88 90%, #d3a6bc11 100%);
    /*background-color: #d3a6bc44;*/
}

tr:nth-child(odd) {
    background: linear-gradient(90deg, #94495c11 0%, #94495c88 10%, #94495c88 90%, #94495c11 100%);
}

tr:hover {
    opacity: 1;
    transform: scale(1.1);
}

.rules > * {
    margin: 1rem;
}

/* iPads (portrait) ----------- */
@media (max-width : 1024px) {
    .main-content {
        max-width: 75%;
    }

    h1 {
        font-size: 1.4em;
    }
}


/* Smartphones (portrait) ----------- */
@media (max-width : 480px) {
    .main-content {
        max-width: 85%;
        padding: 1rem;
    }


    h1 {
        font-size: 1.2em;
        margin: 0;
    }

    h2 {
        font-size: 1em;
    }

    header {
        flex-direction: column;
    }
}

